
// Global default params, used in configs
params {
  outdir = './results'
  genomes_base = "/nfs/cellgeni/genomes"
  clusterOptions = false
}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }
  farm {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genomes.config'
    includeConfig 'conf/farm.config'
  }
  k8s {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genomes.config'
    includeConfig 'conf/k8s.config'
    includeConfig 'conf/images.config'
    includeConfig 'params.config'
  }
  singularity {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genomes.config'
    includeConfig 'conf/farm.config'
    includeConfig 'conf/images.config'
    includeConfig 'conf/singularity.config'
    includeConfig 'params.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
}
