params {
	input_files = fromPath('data/*.fastq.gz')
	indrop_version = null
	tag = 'dropest'
	output = "output"
	genome = 'GRCh38'
    annotation = "${params.genomes_base}/ensembl/GRCh38/Homo_sapiens.GRCh38.91.gtf"
	star_index = params.genomes[ params.genome ].star
	gtf = params.genomes[ params.genome ].gtf

	'config' {
		v2 = "$baseDir/indrop_v1_2.xml"
		v3 = "$baseDir/indrop_v3.xml"
	}

	'barcode_list' {
		v2 = "$baseDir/indrop_v1_2_barcodes.txt"
		v3 = "$baseDir/indrop_v3_barcodes.txt"
	}
}
