params {
	pairs = "$baseDir/*R{1,2}_[0-9][0-9][0-9].fastq.gz"
	config = "$baseDir/indrop_v1_2.xml"
	output = "output"
	genome = 'GRCh38'
    annotation = "${params.genomes_base}/ensembl/GRCh38/Homo_sapiens.GRCh38.91.gtf"
	barcode_list = "$baseDir/indrop_v1_2_barcodes.txt"
	params.star_index = params.genomes[ params.genome ].star
	params.gtf = params.genomes[ params.genome ].gtf
}
