params {
	pairs = "$baseDir/*R{1,2}_[0-9][0-9][0-9].fastq.gz"
	config = "$baseDir/indrop_v1_2.xml"
	output = "output"
	genome = "${params.genomes_base}/ensembl/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    annotation = "${params.genomes_base}/ensembl/GRCh38/Homo_sapiens.GRCh38.91.gtf"
	barcode_list = "$baseDir/indrop_v1_2_barcodes.txt"
	ch_star_index = params.run_star
    	? Channel.fromPath(params.star_index)
		.ifEmpty { exit 1, "STAR index not found: ${params.star_index}" }
		: Channel.empty()
	Channel.fromPath(params.gtf)
		.ifEmpty { exit 1, "GTF annotation file not found: ${params.gtf}" }
		.into { ch_gtf_star; ch_gtf_featureCounts; }
}
