
process {
  withName: star                { container = 'quay.io/biocontainers/star:2.5.4a--0' }
  withName: fastqc              { container = 'quay.io/biocontainers/fastqc:0.11.7--4' }
  withName: QCFiltReads         { container = 'quay.io/biocontainers/fastqc:0.11.7--4' }
  withName: dropTag_inDrop_v2   { container = 'vpetukhov/dropest' }
  withName: dropTag_inDrop_v3   { container = 'vpetukhov/dropest' }
  withName: dropEst             { container = 'vpetukhov/dropest' }
  withName: dropReport          { container = 'vpetukhov/dropest' }
}
